# Starter pipeline

# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

variables:
  version: 1

pool:
  vmImage: 'ubuntu-latest'

jobs:
- job: Update_version
  steps:
  - task: HelmInstaller@1
    name: Install_helm
    inputs:
      helmVersionToInstall: '3.0.0'
  - task: KubectlInstaller@0
    name: Install_kubectl
    inputs:
      kubectlVersion: 'latest'
  - task: AzureCLI@2
    name: Get_kubeconfig
    inputs:
      azureSubscription: 'Nills''s Cloud-scale Datacenter(d19dddf3-9520-4226-a313-ae8ee08675e5)'
      scriptType: 'bash'
      scriptLocation: 'inlineScript'
      inlineScript: 'az aks get-credentials -g KEDA -n nf-keda'
  - task: Bash@3
    name: Get_current_prod
    inputs:
      targetType: 'inline'
      script: |
        color=`kubectl get svc production -o yaml | grep color | awk -F ' ' '{print $2}'`
        echo $color
        if [$color == "blue"]; then
          echo "##vso[task.setvariable variable=color]green"
        else
          echo "##vso[task.setvariable variable=color]blue"
        fi
  - task: HelmDeploy@0
    name: Update_version
    inputs:
      connectionType: 'Kubernetes Service Connection'
      kubernetesServiceConnection: 'k8s-cluster-nf-keda-default-1574378163229'
      command: 'upgrade'
      chartType: 'FilePath'
      chartPath: 'helm-blue-green/blue-green/'
      releaseName: 'bluegreen'
      overrideValues: '$(color).version=$(version)'
      arguments: '--reuse-values'
  - task: Bash@3
    name: Wait_for_deployment
    inputs:
      targetType: 'inline'
      script: 'kubectl rollout status deploy/$(color)'
  - task: HelmDeploy@0
    name: Flip_prod
    inputs:
      connectionType: 'Kubernetes Service Connection'
      kubernetesServiceConnection: 'k8s-cluster-nf-keda-default-1574378163229'
      command: 'upgrade'
      chartType: 'FilePath'
      chartPath: 'helm-blue-green/blue-green/'
      releaseName: 'bluegreen'
      overrideValues: 'production=$(color)'
      arguments: '--reuse-values'