# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

variables:
  version: 1

pool:
  vmImage: 'ubuntu-latest'

jobs:
- job: Update_version
  steps:
  - task: HelmInstaller@1
    name: Install_helm
    inputs:
      helmVersionToInstall: '3.0.0'
  - task: KubectlInstaller@0
    name: Install_kubectl
    inputs:
      kubectlVersion: 'latest'
  - task: Bash@3
    name: Get_current_prod
    inputs:
      targetType: 'inline'
      script: |
        color=`kubectl get svc production -o yaml | grep color | awk -F ' ' '{print $2}'`
            echo "##vso[task.setvariable variable=color]$color"
  - task: HelmDeploy@0
    name: Update_version
    inputs:
      connectionType: 'Kubernetes Service Connection'
      kubernetesServiceConnection: 'k8s-cluster-nf-keda-default-1574378163229'
      command: 'upgrade'
      chartType: 'FilePath'
      chartPath: 'helm-blue-green/blue-green/Chart.yaml'
      releaseName: 'bluegreen'
      overrideValues: '$(color).version=$(version)'
      arguments: '--reuse-values'
  - task: Bash@3
    name: Wait_for_deployment
    inputs:
      targetType: 'inline'
      script: 'kubectl rollout status deploy/$(color)'
  - task: HelmDeploy@0
    name: Flip_prod
    inputs:
      connectionType: 'Kubernetes Service Connection'
      kubernetesServiceConnection: 'k8s-cluster-nf-keda-default-1574378163229'
      command: 'upgrade'
      chartType: 'FilePath'
      chartPath: 'helm-blue-green/blue-green/Chart.yaml'
      releaseName: 'bluegreen'
      overrideValues: 'production=$(color)'
      arguments: '--reuse-values'